[flake8]
doctests = True
max-line-length = 88
extend-ignore =
    # Still have lots of long lines:
    E501,
    # Need to reorder some usage strings below imports
    E402,
    # I don't have many docstrings in my scripts:
    D100,D103,
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    # We like f-strings
    SFS301,
    # Still have a few string percent formatting lines,
    SFS101,
    # Can't use f-strings for bytes, so percent is OK
    SFS102,
    # bugbears
    B007,B011,

# =====================
# flake-quote settings:
# =====================
# This matches black's output:
inline-quotes = double

# =============================
# flake8-import-order settings:
# =============================
# At the time of writing, matched 'pep8' (relaxed), and both the
# 'smarkets' ('google' with plain imports before from) and 'edited'
# styles (appears to differ only in treatment of local packages).
import-order-style = pep8
