# pre-commit run --all-files
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-shebang-scripts-are-executable
    -   id: check-symlinks
    -   id: check-yaml
    -   id: debug-statements
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        files: \.(py|sh|rst|yml|yaml)$
    -   id: mixed-line-ending
    -   id: trailing-whitespace
        files: \.(py|sh|rst|yml|yaml)$
-   repo: local
    hooks:
    -   id: no-tabs
        name: No tabs
        description: Reject any files containing a tab
        entry: '\t'
        language: pygrep
        files: \.(py|sh|rst|yml|yaml)$
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
    # Run the Ruff linter (flake8 alternative):
    -   id: ruff
        args: [
            '--fix',
            '--exit-non-zero-on-fix',
            '--extend-select=BLE,C4,D,I,ISC',
            '--extend-ignore=D100,D103,D203,D213,D401,E402',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
            '--config=lint.pyupgrade.keep-runtime-typing=true'
        ]
    # Run the Ruff formatter (black alternative):
    -   id: ruff-format
        args: [
            '--config=format.docstring-code-format=true'
        ]
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            --report-level=warning,
            --ignore-roles=ref,
            "--ignore-directives=automodule,toctree",
            --ignore-substitutions=version
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: 'v1.1.1'
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [--quiet,--ignore=D001]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        files: \.(py|sh|rst|yml|yaml)$
        args: ['-L', 'nin,mis']
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: monthly
